useDynLib(RJaCGH)

export("gelman.brooks.plot", "model.averaging",
       "normal.HMM.likelihood.NH.C",
       "Q.NH", "plot.Q.NH", "RJaCGH", "simulateRJaCGH",
       "states", "trace.plot", "collapseChain", "chainsSelect",
       "pREC_A", "pREC_S", "genome.plot", "relabelStates",
       "smoothMeans"
       
       
       )


S3method(summary, RJaCGH)
S3method(summary, RJaCGH.Chrom)
S3method(summary, RJaCGH.genome)
S3method(summary, RJaCGH.array)
S3method(print, summary.RJaCGH)
S3method(print, summary.RJaCGH.Chrom)
S3method(print, summary.RJaCGH.genome)
S3method(print, summary.RJaCGH.array)
S3method(states, RJaCGH)
S3method(states, RJaCGH.Chrom)
S3method(states, RJaCGH.genome)
S3method(states, RJaCGH.array)
S3method(model.averaging, RJaCGH)
S3method(model.averaging, RJaCGH.Chrom)
S3method(model.averaging, RJaCGH.genome)
S3method(model.averaging, RJaCGH.array)
S3method(plot, RJaCGH)
S3method(plot, RJaCGH.Chrom)
S3method(plot, RJaCGH.genome)
S3method(plot, RJaCGH.array)
S3method(collapseChain, RJaCGH)
S3method(collapseChain, RJaCGH.Chrom)
S3method(collapseChain, RJaCGH.genome)
S3method(collapseChain, RJaCGH.array)
S3method(chainsSelect, RJaCGH)
S3method(chainsSelect, RJaCGH.genome)
S3method(chainsSelect, RJaCGH.array)
S3method(pREC_A, RJaCGH)
S3method(pREC_A, RJaCGH.Chrom)
S3method(pREC_A, RJaCGH.genome)
S3method(pREC_A, RJaCGH.array)
S3method(print, pREC_A.RJaCGH)
S3method(print, pREC_A.RJaCGH.Chrom)
S3method(print, pREC_A.RJaCGH.genome)
S3method(print, pREC_A.RJaCGH.array.Chrom)
S3method(print, pREC_A.RJaCGH.array.genome)
S3method(pREC_S, RJaCGH.array)
S3method(print, pREC_S.RJaCGH.array)
S3method(print, pREC_S.RJaCGH.array.Chrom)
S3method(print, pREC_S.RJaCGH.array.genome)
S3method(plot, pREC_S.RJaCGH.array)
S3method(plot, pREC_S.RJaCGH.array.Chrom)
S3method(plot, pREC_S.RJaCGH.array.genome)
S3method(relabelStates, RJaCGH)
S3method(relabelStates, RJaCGH.Chrom)
S3method(relabelStates, RJaCGH.genome)
S3method(relabelStates, RJaCGH.array)
S3method(smoothMeans, RJaCGH)
S3method(smoothMeans, RJaCGH.Chrom)
S3method(smoothMeans, RJaCGH.genome)
S3method(smoothMeans, RJaCGH.array)


