import("stats", "graphics", "grDevices")
useDynLib(RJaCGH)

export("modelAveraging",
       "normal.HMM.likelihood.NH.C",
       "QNH", "plotQNH", "RJaCGH", "simulateRJaCGH",
       "states", "trace.plot", 
       "pREC_A", "pREC_S", "genomePlot", "relabelStates",
       "smoothMeans"
       
       
       )

S3method(tempdir, RJaCGH)
S3method(summary, RJaCGH)
S3method(print, summary.RJaCGH)
S3method(states, RJaCGH)
S3method(modelAveraging, RJaCGH)
S3method(plot, RJaCGH)
S3method(print, pREC_A.none)
S3method(print, pREC_A.Chromosomes)
S3method(print, pREC_S.none)
S3method(print, pREC_S.Chromosomes)
S3method(plot, pREC_S)
S3method(relabelStates, RJaCGH)
S3method(smoothMeans, RJaCGH)


